/* SMALL Only */
@media screen and (max-width: 768px){ }

.primaryHeader {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0;
  max-width:100%;
}
.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}


.primaryRow {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
  position: relative;
  padding: 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.primaryCol {
  margin: 0;
}
.marginRow {
  height: 0px;
  background-color: white;
}
.primaryContent {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  padding: 0px;
  margin: 0px -2px;
  justify-content: center;
  box-sizing: content-box;
  transition-property: background-color;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-duration: .2s;
}
.bgTransparent {
  background-color: transparent;
}
.bgWhite {
  background-color: #fff;
}


.picture {
  background-color: #fff;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 96px;
  object-fit: cover;
  -o-object-fit: cover;
  overflow: hidden;   
}
.pictureImg {
  position:absolute;
  height: 128px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.visible {
  visibility: visible;
}



.navListIntro {
  list-style-type: none;
  position:absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  justify-content: space-between;
  opacity:0;
  transition-property:opacity;
  transition-duration:.3s;
  transition-delay:.0s;
  z-index:5;
}
.navMode {
  opacity:1.0;
  transition-duration:.3s;
  transition-delay:.2s;
}

.navListIntro li {
    display: inline-block;
    position: relative;
    line-height: 1em;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
}
.navListIntro a {
    display: inline-block;
    padding: 14px;
    font-size: 1.2em;
}
.navListIntro a,
.navListIntro a:visited,
.navListIntro a:active {
  color: #333;
}


.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
   padding: 0;
   margin: 0;
}
.navList li {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  line-height: 1em;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
}
.navList a {
  display: inline-block;
  min-height: 48px;
  padding: 14px;
}


.navRow {
  position: relative;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  z-index: 5;
  height: 44px;
  text-align: center;
  transition-property: height;
  transition-duration: .3s;
  overflow:hidden;
  background-color: rgba(255,255,255,0.1)
}
.zeroHeight {
  height: 0px;
}

.navRow a,
.navRow a:visited,
.navRow a:active {
  color: #eee;
}

/* MEDIUM and up */
@media screen and (min-width: 768px){ }
/* LARGE and up */
@media screen and (min-width: 992px){ 
  .row {
    height: 64px;
  }

  .primaryContent {
    width: 360px;
    max-width: 360px;
    min-width: 360px;
  }

  .picture {
    height: 116px;
  }

  .navList li {
    line-height: 1.1em;
 }
}
/* XLARGE and up */
@media screen and (min-width: 1100px){ }
/* XXLARGE and up */
@media screen and (min-width: 1200px){ }
/* SMALL and down */
@media (max-width: 768px){ }
/* MEDIUM and down */
@media (max-width: 992px){ }
/* LARGE and down */
@media (min-width: 1100px){ }
/* XLARGE and down */
@media (min-width: 1280px){ }