.white {
  background-color: rgb(255,255,255);
}
.grey {
  background-color: rgb(238,238,238);
}
.transparent {
  background-color: transparent;
}
.opacityLight {
  opacity: 0.65;
}
.opacityHeavy {
  opacity: 0.85;
}

.primaryMed {
  background-color: #541178;
  background-color: rgba(0,0,0,0.65);
}
.primaryDark {
  background-color: #301261;
  background-color: rgba(0,0,0,0.75);
}

.text { 
  color: #333;
}

.whiteTrans {
  background-color: rgba(255,255,255,0.85);
}
.greyTrans {
  background-color: rgba(238,238,238,0.85)
}

