.footer {
  font-size: .9rem;
  position: relative;
  background-color: #301261;
  padding: 0;
  z-index: 3;
}

.col {
  color: #999;
  font-size: .8rem;
  flex-grow: 1;
  width: 50%;
  min-width: 360px;
  padding: 0px 8px;
}
.col:last-child {
  text-align: right;
}
.col a,
.col a:visited,
.col a:active {
  color: #999;
}