
.logo {
  overflow: hidden;
  position:relative;
  box-sizing: content-box;
  z-index:2;
  padding: 0;
  margin: 0;
}
  .hidden {
  background-color: white;
}
.img {
    display:block;
    position:relative;
    opacity:1.0;
    width: 100%;
    height: auto;
}