
.logo {
  box-sizing: content-box;
  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-duration: .2s;
  height: 48px;
  z-index:2;
}
.hidden {
  background-color: white;
}
.img {
    display:block;
    position:relative;
    opacity:1.0;
    height: 48px;
}