.row {
  position:relative;
  padding: 16px 0;
  min-height: 120px;
  background-color: #541178;
  background: linear-gradient(0deg, rgba(84,17,120,1) 80%, rgba(76,15,110,1) 100%);
  font-weight: 600;
  font-family: "Raleway";
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.33);
  z-index:5;
}
#site-footer-row .col {
  position: relative;
}
#site-footer-row .col-L {
  border-right: 1px solid rgb(255,255,255,0.33);
}