/* SMALL Only */
@media screen and (max-width: 768px){

}

/* BASELINE SMALL and up */
:root {
    --header-height: 48px;
    --row-margin: 8px;
    --legal-footer-height: 1.5em;
    --margin-width: 16px;
}
.row-margin {
    background-color: white;
    position: relative;
    height: var(--row-margin);
}

.row {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.mL,
.mR {
   flex-grow: 2;
   margin: 0px;
}
.bed {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 328px;
    flex-grow: 1;
    z-index: 2;
}
.col {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 24px 0px;
    z-index: 3;
}
.col.pad {
    padding: 0 16px;
}

.two-col .col-L, 
.two-col .col-R {
    width: 50%;
}

.three-col .col-L,
.three-col .col-C,
.three-col .col-R {
    flex-basis: 100%;
    width: 100%;
    background-color: white;
    margin: 0px;
}
.three-col .col:first-child {
    margin-left: 0px;
}
.three-col .col:last-child {
    margin-right: 0px;
}

.row.white > div {
    background-color: white;
}
.row.grey > div {
    background-color: #eee;
}
.row.transparent > div {
    background-color: transparent;
}
.row.transparent .col {
    z-index: 6;
}


/* MEDIUM and up */
@media screen and (min-width: 768px){ }
/* LARGE and up */
@media screen and (min-width: 992px){ }
/* XLARGE and up */
@media screen and (min-width: 1100px){ }
/* XXLARGE and up */
@media screen and (min-width: 1200px){ }
/* SMALL and down */
@media (max-width: 768px){ }
/* MEDIUM and down */
@media (max-width: 992px){ }
/* LARGE and down */
@media (min-width: 1100px){ }
/* XLARGE and down */
@media (min-width: 1280px){ }
