/* SMALL Only */
@media screen and (max-width: 768px){
}

/* BASELINE SMALL and up */
* {
  box-sizing: border-box;
}
html { 
    font-size: 14px; 
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
    min-width: 360px;
}
a { text-decoration: none; }
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    font-family: 'Montserrat';
}
h2 {
    margin-bottom: .3em;
}
p {
    margin-top: .3em;
    margin-bottom: 1.5em;
}
p.large {
    font-size: 1.2em;
}

/* MEDIUM and up */
@media screen and (min-width: 768px){ }
/* LARGE and up */
@media screen and (min-width: 992px){ 
  html {
    font-size: 16px;
  }
}
/* XLARGE and up */
@media screen and (min-width: 1100px){ }
/* XXLARGE and up */
@media screen and (min-width: 1200px){ }

/* SMALL and down */
@media (max-width: 768px){ }
/* MEDIUM and down */
@media (max-width: 992px){ }
/* LARGE and down */
@media (min-width: 1100px){ }
/* XLARGE and down */
@media (min-width: 1280px){ }