/* SMALL Only */
@media screen and (max-width: 768px){
}

/* BASELINE SMALL and up */
* {
  box-sizing: border-box;
}
html { 
    font-size: 14px; 
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
}
a { text-decoration: none; }
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    font-family: 'Montserrat';
}
h2 {
    margin-bottom: .3em;
}
p {
    margin-top: .3em;
    margin-bottom: 1.5em;
}
p.large {
    font-size: 1.2em;
}

/* bootstrap derived breakpoints: 
/* https://getbootstrap.com/docs/5.3/layout/breakpoints/#media-queries
/* X-Small 'xs' devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap */

/* Small 'sm' devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium 'md' devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large 'lg' devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* X-Large 'xl'devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }