
/* SMALL Only */
@media screen and (max-width: 768px){
}

/* BASELINE SMALL and up */
:root {
  --header-height: 48px;
  --row-margin: 8px;
  --legal-footer-height: 1.5em;
  --margin-width: 16px;
}

.row-margin {
  background-color: white;
  position: relative;
  height: var(--row-margin);
}

/* BASELINE SMALL and up */
.row {
  position: relative;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  z-index: 1;
}

.row .mL,
.row .mR {
  grid-column: auto;
  width: auto;
  empty-cells: show;
}

.col {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0px;
  z-index: 3;
  min-width: 360px;
  max-width: 744px;
}

.two-col .col {
  width: 50%;
}

.row.white > div {
  background-color: white;
}
.row.grey > div {
  background-color: #eee;
}
.row.purple > 
.row.transparent > div {
  background-color: transparent;
}
.row.transparent .col {
  z-index: 6;
}


/* MEDIUM and up */
@media screen and (min-width: 768px){ }
/* LARGE and up */
@media screen and (min-width: 992px){ }
/* XLARGE and up */
@media screen and (min-width: 1100px){ }
/* XXLARGE and up */
@media screen and (min-width: 1200px){ }
/* SMALL and down */
@media (max-width: 768px){ }
/* MEDIUM and down */
@media (max-width: 992px){ }
/* LARGE and down */
@media (min-width: 1100px){ }
/* XLARGE and down */
@media (min-width: 1280px){ }